.about {
    background-color: #192231;
    padding: 60px 0px;
    height: auto;
}

.aboutText {
    color: #fff;
}

.aboutText a {
    text-decoration: underline;
    color: #fff;
}
.aboutCenter {
    text-align: center;
}

@media (max-width: 767px){
    .aboutText {
        margin-top: 10px
    }
}